/* ------- Obsidian-inspired styles and colors ------- */
:root {
    --sl-color-bg-nav: var(--sl-color-bg);
    --sl-color-bg-sidebar: var(--sl-color-bg);

    --sl-border-radius-sm: 4px;
    --sl-border-radius-md: 8px;
    --sl-border-radius-lg: 12px;
}

:root[data-theme='dark'] {
    --sl-color-bg: #111213;
}

:root[data-theme='light'] {
    --sl-color-bg: #f8f9fa;
}

/* --------------------------------------------------- */

/* ------------- Centered reading changes ------------ */

/* When screen becomes too narrow to neatly contain both title and mobile-toc */
@media (max-width: 25em) {
    /* 'Move' title from mobile header to sidebar */
    .mobile-header {
        .title-wrapper {
            display: none;
        }
    }

    .sidebar-pane.sidebar-pane.sidebar-pane {
        .title-wrapper {
            display: block;
        }
    }
}


/* When only left-sidebar or both sidebars are visible */
@media (min-width: 50em) {
    /* Make sidebars sticky w.r.t scrolled content */
    .sidebar, .right-sidebar-container {
        position: sticky;
        top: 0;
        align-self: flex-start;
        z-index: 1;
        overflow-y: hidden;
    }

    .page {
        flex-direction: row;
    }

    .mobile-header {
        .title-wrapper {
            display: none;
        }
    }
}

/* When both sidebars are visible */
@media (min-width: 72em) {
    /* Do not offset any element when navigation has no height */
    :root:not(:has(header)) {
        --sl-nav-height: 0;
    }

    /* Fully hide the mobile header */
    .mobile-header {
        display: none;
        visibility: hidden;
    }
}

/* When neither of the sidebars is visible */
@media (max-width: 50em) {
    /* Show mobile header with specified height, with hairline */
    .mobile-header {
        max-width: unset;
        border-bottom: 1px solid var(--sl-color-hairline);

        mobile-starlight-toc {
            .dropdown {
                top: calc(var(--sl-nav-height) + 1px);
                left: 0;
            }
        }
    }

    /* Style site search in folded sidebar similar to regular style  */
    .sidebar site-search {
        button[data-open-modal] {
            border: 1px solid var(--sl-color-gray-5);
            border-radius: 0.5rem;
            padding-inline-start: 0.75rem;
            padding-inline-end: 0.5rem;
            background-color: var(--sl-color-black);
            color: var(--sl-color-gray-2);
            font-size: var(--sl-text-sm);
            width: 100%;
        }

        button[data-open-modal]:hover {
            border-color: var(--sl-color-gray-2);
            color: var(--sl-color-white)
        }

        button[data-open-modal] > :last-child {
            margin-inline-start: auto
        }

         :is(button, .inc-spec) span{
            display: block;
        }
    }


    /* Hide site sidebar on left, make it take up the entire screen, animate reveal */
    .sidebar-pane.sidebar-pane {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 2;

        visibility: unset;
        transition: transform 0.2s ease-in-out;
        transform: translateX(-100%);
        background-color: var(--sl-color-bg);

        .title-wrapper {
            display: none;
        }
    }

    /* When mobile menu button is pressed, reveal the site sidebar */
    body[data-mobile-menu-expanded] .sidebar-pane {
        transform: translateX(0);
    }
}

/* When neither or only the left sidebar is visible */
@media (max-width: 72em) {
    /* Do not add padding to main-frame, such that mobile-header is on top */
    .main-frame {
        padding-top: unset;
    }

    /* Make flex folded right-sidebar (see site-graph css) take up full width of the page */
    .right-sidebar-container {
        width: 100%;
    }

    /* Allow page to fill entire width when there is no right-sidebar */
    .page .main-pane.main-pane.main-pane {
        max-width: unset;

        .sl-container {
            max-width: unset;
        }
    }
}

/* Show mobile header at the top of the page as a replacement container for the mobile-toc/button */
.mobile-header {
    position: fixed;
    width: 100%;
    height: var(--sl-nav-height);
    z-index: 5;
    background-color: var(--sl-color-bg-nav);

    padding: 0 1rem;

    display: flex;
    align-items: center;

    .title-wrapper span {
        font-size: clamp(0.2rem, 4vmin, var(--sl-text-h4));
    }
}

starlight-menu-button {
    margin-left: auto;

    :is(.inc-spec, button) {
        scale: 1.5;
        position: unset;
        display: flex;

        height: fit-content;
        width: fit-content;
        padding: unset;

        color: var(--sl-color-gray-5);
        background: unset;
        box-shadow: unset;
    }

    &[aria-expanded="true"] :is(.inc-spec, button) {
        background-color: unset;
        color: var(--sl-color-accent);
    }
}


/* Change the styling of the mobile starlight ToC */
mobile-starlight-toc {
    nav {
        /* Draw mobile ToC on top, align on left side with site sidebar */
        position: unset;
        border-top: unset;

        /* Remove hairline border on bottom of "On this page" element (moved to mobile-header) */

        summary {
            border-bottom: unset;
            padding: 0 0.5rem
        }

        /* Fix "On this page" dropdown first element not having a top border, make it absolutely positioned */
        .dropdown {
            position: fixed;
            width: 100%;
            border-top-color: var(--sl-color-hairline);
        }

        /* Add hover background */
        .dropdown a:hover {
            background-color: var(--sl-color-bg-nav);
            color: var(--sl-color-accent-high);
        }
    }
}

/* Reorder page such that content and sidebar are adjacent to each other */
.page {
    justify-content: center;
    scrollbar-gutter: stable;
}

/* Make sidebar positioned within content (instead of absolute) */
.sidebar-pane, .right-sidebar {
    position: unset;
}

/* Remove border between content and sidebar */
.sidebar-pane {
    border-inline-end: unset;
}

/* Remove border between page heading and content */
.content-panel + .content-panel {
    border-top: unset;
}

/* Remove border between content and right sidebar */
.right-sidebar {
    border-inline-start: unset;
}

/* Add border to footer */
footer {
    border-top: 1px solid var(--sl-color-hairline);
    padding-top: 1rem;

    .meta {
        margin-top: unset;
    }
}

/* Limit the width for centered reading */
.main-frame {
    padding-inline-start: unset;
    flex: 1;
    max-width: calc(var(--sl-content-width) + var(--sl-sidebar-width));
}

.main-pane {
    flex: 1;
    margin-top: var(--sl-nav-height);
    max-width: var(--sl-content-width);
}

/* Center content if no sidebars are present (e.g. banner splash) */
.page:not(:has(>.sidebar)) {
    .main-pane {
        margin-left: auto;
        margin-right: auto;
    }
}

/* --------------------------------------------------- */


/* ------------- Site sidebar styling ---------------- */
/* Align site actions and links in row */
.social-icons {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.social-icons::after {
    border-inline-end: unset;
}

.sidebar-content {
    .sidebar-top {
        order: 0;
    }

    site-search button {
        order: 1;
    }

    div.md\:sl-hidden {
        display: initial;
        order: 2;

        .mobile-preferences {
            border-top: unset;
            padding: 0;
        }
    }

    sl-sidebar-state-persist ul {
        order: 3;
    }
}

/* --------------------------------------------------- */





/* ------------- General Content Styling ------------- */
.sl-markdown-content {
    /* Add margin around horizontal lines */
    :is(.inc-spec, hr) {
        margin: 2rem 0 0 0;
    }

    /* Use accent color for hovering over link elements */
    a:hover:not(:where(.not-content *)) {
        color: var(--sl-color-accent);
    }
}

/* Steps line styling (Adapted from @Hideoo/starlight-theme-rapide) */
.sl-steps > li:last-of-type:after {
    background: linear-gradient(to bottom, var(--sl-color-hairline-light), var(--sl-color-bg) 85%);
}
/* --------------------------------------------------- */



/* -------- Obsidian-inspired Callout Styling -------- */
.starlight-aside {
    border-radius: var(--sl-border-radius-md);
    border: unset;
}

/* --------------------------------------------------- */


/* ------------------ Badge Styling ----------------- */
.sl-badge.sl-badge {
    border-radius: var(--sl-border-radius-sm);
    border: unset;
}

/* Impossible to disable variable override, so it needs to be specified each time */
.sidebar-content a[aria-current="page"] > .sl-badge.sl-badge {
    color: var(--sl-color-text-badge);
    background-color: var(--sl-color-bg-badge);

    &.default {
        --sl-color-bg-badge: var(--sl-badge-default-bg);;
    }
    &.note {
        --sl-color-bg-badge: var(--sl-badge-note-bg);
    }
    &.danger {
        --sl-color-bg-badge: var(--sl-badge-danger-bg);
    }
    &.success {
        --sl-color-bg-badge: var(--sl-badge-success-bg);
    }
    &.tip {
        --sl-color-bg-badge: var(--sl-badge-tip-bg);
    }
    &.caution {
        --sl-color-bg-badge: var(--sl-badge-caution-bg);
    }
}

/* --------------------------------------------------- */

/* ----- Starlight components background styling ----- */
starlight-file-tree {
    background-color: var(--sl-color-black);
    border: unset;
    border-radius: var(--sl-border-radius-md);
}

.card {
    border-radius: var(--sl-border-radius-md);
    border-color: var(--sl-color-hairline);
}

.card .icon {
    border: unset;
}

.sl-banner {
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
    border-radius: var(--sl-border-radius-lg);
}
/* --------------------------------------------------- */


/* ---------------- Draft styling -------------------- */
.content-panel .sl-container > h1 + p.sl-flex {
    border: unset;
    border-radius: var(--sl-border-radius-md);
    margin: 0.5rem auto 0 auto;
}

/* --------------------------------------------------- */


/* ------------ Expressive Code styling ------------- */
.sl-markdown-content {
    .expressive-code.expressive-code pre {
        --code-background: var(--sl-color-black);
        border: unset;
        border-radius: var(--sl-border-radius-sm);
    }

    code {
        border-radius: var(--sl-border-radius-sm);
    }

    .expressive-code .ec-line mark::before, .expressive-code .ec-line ins::before, .expressive-code .ec-line del::before {
        border: unset;
    }

    .expressive-code .ec-line .code {
        border-inline-start: unset;
    }

    .expressive-code .frame {
        border: unset;
        border-radius: var(--sl-border-radius-md);

        &.is-terminal, &.has-title {
            outline: 1px solid var(--sl-color-hairline);
        }

        & > .header.header.header {
            border: unset;
            border-bottom: 1px solid var(--sl-color-hairline);
            border-radius: var(--sl-border-radius-md) var(--sl-border-radius-md) 0 0;
            background: var(--sl-color-black);

            &::after {
                content: unset;
            }
        }

        &:not(.is-terminal) {
            .header {
                &&::before {
                    content: "";
                    border: unset;
                }

                .title {
                    margin: -1px 0 0 -1px;

                    &:first-child {
                        border-radius: var(--sl-border-radius-md) 0 0 0;
                    }

                    &::after {
                        border-top: unset;
                        border-bottom: 2px solid var(--sl-color-accent);
                    }
                }
            }
        }

        pre {
            border-color: var(--sl-color-hairline);
        }
    }
}

/* --------------------------------------------------- */


/* ---- Style details to add left rounded border ----- */
.sl-markdown-content {
    details {
        position: relative;
        border-inline-start: unset;
    }

    details::before {
        content: '';
        display: inline-block;
        background: var(--sl-details-border-color);
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 140px;
        position: absolute;
    }

    details:hover {
        --sl-details-border-color: var(--sl-details-border-color--hover);
    }
}
/* --------------------------------------------------- */

/* --------------- Link Button Styling --------------- */
.sl-link-button {
    --sl-color-text-accent: var(--sl-color-accent-high);

    &.primary:hover {
        background-color: var(--sl-color-accent);
        color: var(--sl-color-black);
        border-color: transparent;
    }

    &.secondary:hover {
        border-color: var(--sl-color-accent);
    }

    &.minimal:hover {
        background-color: unset;
        color: var(--sl-color-accent);
    }
}
/* --------------------------------------------------- */


/* --------------- Link Card Styling --------------- */
.sl-link-card {
    border-radius: var(--sl-border-radius-md);
    border: unset;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--sl-color-black);
    box-shadow: 0 0 0 1px var(--sl-color-hairline);
}

.sl-link-card:hover {
    background-color: var(--sl-color-black);
    box-shadow: 0 0 0 1px var(--sl-color-accent);
}
/* --------------------------------------------------- */

/* ------------------- ToC Styling ------------------- */

/* Adapted from @Hideoo/starlight-theme-rapide */
.sidebar-pane summary {
    flex-direction: row-reverse;
    gap: 0.375rem;
    justify-content: start;
    padding: 0.2em var(--sl-sidebar-item-padding-inline);
    padding-inline: calc(var(--sl-sidebar-item-padding-inline) / 2) var(--sl-sidebar-item-padding-inline);
}

.sidebar-pane summary:is(:hover, :focus-visible),
.sidebar-pane summary:is(:hover, :focus-visible) .large {
    color: var(--sl-color-accent-high);
}

.sidebar-pane ul ul li {
    margin-inline-start: calc(var(--sl-sidebar-item-padding-inline) + (0.625rem / 2));
}

.sidebar-pane a[aria-current='page'] {
    background-color: initial;
    color: var(--sl-color-text-accent);
}

.sidebar-pane ul ul li:has(> a[aria-current='page']) {
    border-inline-start-color: var(--sl-color-accent-high);
}

.sidebar-pane ul ul li:has(> a:not([aria-current='page']):is(:hover, :focus-visible)) {
    border-inline-start-color: var(--sl-color-gray-2);
}
/* --------------------------------------------------- */



/* Ensure that graph inside sidebar matches width of container */
@media (min-width: 72em) {
    .right-sidebar .graph-component {
        width: unset;
        max-width: var(--slsg-graph-width);
    }
}
/* ----------------------------------------------------------- */
