@layer obsidian {
    :root {
        --sl-color-bg-nav: var(--sl-color-bg);
        --sl-color-bg-sidebar: var(--sl-color-bg);

        --sl-border-radius-sm: 4px;
        --sl-border-radius-md: 8px;
        --sl-border-radius-lg: 12px;
    }

    :root[data-theme='dark'] {
        --sl-color-bg: #111213;
    }

    :root[data-theme='light'] {
        --sl-color-bg: #f8f9fa;
        --slsg-graph-bg-color: var(--sl-color-black);
    }
}
