:root {
    --sl-color-accent-high: hsl(258, 79%, 72%);
    --sl-color-accent: hsl(258, 61%, 66%);
    --sl-color-accent-low: hsl(258, 55%, 57%);
    --sl-hero-color: hsla(258, 61%, 66%, 30%);
}

:root[data-theme='light'] {
    --sl-color-accent-high: hsl(257, 49%, 42%);
    --sl-color-accent: hsl(257, 54%, 59%);
    --sl-color-accent-low: hsl(257, 52%, 75%);
    --sl-hero-color: hsla(257, 70%, 70%, 25%);
}


.hero {
    padding: 0;
}


/* Hero style */
[data-has-hero] .page {
    height: 100%;
    background:
            linear-gradient(215deg, var(--sl-hero-color), transparent 40%),
            radial-gradient(var(--sl-hero-color), transparent 40%) no-repeat -60vw -40vh / 150vw 200vh,
            radial-gradient(var(--sl-hero-color), transparent 65%) no-repeat 50% calc(100% + 20rem) /
			150rem 30rem;
}

[data-has-hero] header {
    border-bottom: 1px solid transparent;
    background-color: transparent;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}


[data-has-hero] .hero > img {
    filter: drop-shadow(0 0 3rem var(--sl-hero-color));
}
